body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 28, 78);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card{
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(117, 112, 247, 0.15);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
}

.input-box{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input{
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}
#addBtn{
    padding: 8px 12px;
    border-radius: 8px;
    background: #299529;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#clearAll{
    padding: 8px 10px;
    border-radius: 8px;
    background: #d83e3e;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#addBtn:hover{
    transform: scale(1.05);
}
#clearAll:hover{
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background : rgb(53, 41, 218);
    margin-bottom: 8px;
    padding: 8px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
  display: flex;
  gap: 8px;
}

.done-btn,
.delete-btn {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.done-btn {
  background: white;
  color: green;
}

.delete-btn {
  background: white;
  color: red;
}

li.done span {
  text-decoration: line-through;
  opacity: 0.6;
}
